.swiper-slide img{
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}
.carrossel{
    padding-top: 5%;
    padding-bottom: 5%;
}

.swiperitens{
    overflow: hidden
}