.nav {

        justify-content: center;
        padding-top: 9%;
        padding-bottom: 8%;
        padding-left: 1.5%;
        padding-right: 1.5%;
        display: flex;
        gap: 20%;
        align-items: center;
}

.container{

        justify-content: center;
        display: flex;
        align-items: center;
        gap: 50%;
}

a{
        display: inline-block;
}

.cabecalho_img{
        height: 1.5em;
        width: auto;
}
.cabecalho_logo{
       height: 2.5em;
        width: auto; 
}