.nav {

        justify-content: center;
        padding-top: 7%;
        padding-bottom: 7%;
        padding-left: 1%;
        padding-right: 1%;
        display: flex;
        gap: 20%;
        align-items: center;
}

.container{

        justify-content: center;
        display: flex;
        align-items: center;
        gap: 40%;
}

a{
        display: inline-block;
}

.cabecalho_img{
        height: 1.7em;
        width: auto;
}