.sobre_nos_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 2em;
    padding-left: 12%;
    padding-right: 12%;
}

.sobre_nos_title{
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    padding-top: 10%;
}

.sobre_nos_p{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
}

.sobre_nos_texto{
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    text-align: justify;
}